{% load static %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ThemeKit - Admin Template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'common/node_moduls/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'common/node_moduls/icon-kit/css/iconkit.css' %}">
    <link rel="stylesheet" href="{% static 'common/node_moduls/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'common/node_moduls/iconkit.min.css' %}">
    <link rel="stylesheet" href="{% static 'common/node_moduls/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'common/node_moduls/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'common/node_moduls/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'common/node_moduls/tempusdominus-bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'common/node_moduls/c3.min.css' %}">
    <link rel="stylesheet" href="{% static 'common/node_moduls/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'common/node_moduls/owl.theme.default.css' %}">
    <link rel="stylesheet" href="{% static 'common/node_moduls/theme.min.css' %}">
    <script src="{% static 'common/node_moduls/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>
<div class="wrapper">
        <div class="main-content">
            {% block content %}



            {% endblock %}

        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>window.jQuery || document.write('<script src="src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
<script src="{% static 'common/node_moduls/popper.min.js' %}"></script>
<script src="{% static 'common/node_moduls/bootstrap.min.js' %}"></script>
<script src="{% static 'common/node_moduls/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'common/node_moduls/screenfull.js' %}"></script>
<script src="{% static 'common/node_moduls/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'common/node_moduls/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'common/node_moduls/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'common/node_moduls/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'common/node_moduls/moment.js' %}"></script>
<script src="{% static 'common/node_moduls/tempusdominus-bootstrap-4.min.js' %}"></script>
<script src="{% static 'common/node_moduls/d3.min.js' %}"></script>
<script src="{% static 'common/node_moduls/c3.min.js' %}"></script>
<script src="{% static 'common/node_moduls/tables.js' %}"></script>
<script src="{% static 'common/node_moduls/widgets.js' %}"></script>
<script src="{% static 'common/node_moduls/theme.min.js' %}"></script>

</body>
</html>
